/***COLORS***/
/***BUTTONS***/
/***FOOTER***/
/***MEDIA QUERIES***/
/*@import "./utils/functions";*/
/*@import "./utils/extensions";*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-block {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 300px;
  width: 100% px;
}

body {
  max-width: 1200px;
  margin: auto;
}

/***FORM***/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: Roboto;
}

/***HEADER***/
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: auto;
  position: relative;
}
.header__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 165px;
  object-fit: cover;
}

/***POSITION ZONE***/
.position-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
  background-image: linear-gradient(#cfcfcf, #eaeaea);
}

.position-zone p {
  margin-left: 10px;
  font-weight: bold;
  opacity: 0.8;
}

.fa-map-marker-alt {
  opacity: 0.8;
}

/**BODY TEXT**/
.body-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding-bottom: 50px;
  margin-bottom: 55px;
  /* @include desktop
   {
       flex-direction: column;
       max-width: 33%;
       height: 100%;
   }*/
}

h1 {
  font-size: 1.4rem;
  font-weight: bolder;
  text-align: center;
  margin: 40px 70px 0px 70px;
}

.body-text p {
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.6;
  margin: 10px 0px 30px 0px;
  font-size: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  background-image: linear-gradient(#FF79DA, #a05adc);
  background-color: #FF79DA;
  background-color: #FF79DA;
  width: 220px;
  height: 50px;
  border-radius: 25px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  opacity: 1;
  margin: auto;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 1px 2px 2px 2px #6b6f71;
  transition: 1s;
}

/*body section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/*@mixin transition 
{
  @media only screen and (max-width: 441px) and (min-width: 376px) 
  {
      @content;
  }
}*/
.how {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  width: 90%;
}
.how__steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f5edff;
  width: 100%;
  height: 75px;
  border-radius: 20px;
  box-shadow: 1px 4px 5px 5px #ebebeb;
  padding: 0px 75px 0px 75px;
  margin: 0px 0px 25px 0px;
}
@media screen and (min-width: 600px) {
  .how__steps {
    width: desktop-max-width;
    font-size: 2rem;
  }
}
.how__color {
  background-color: #f5edff;
}
.how__numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  border-radius: 25px;
  color: white;
  font-size: 0.75rem;
  position: absolute;
  left: -10px;
}
@media screen and (min-width: 600px) {
  .how {
    align-items: center;
  }
}

.how > p {
  margin: 0px 0px 35px 0px;
  font-size: 1.2rem;
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  .how > p {
    font-size: 2rem;
  }
}

h5 {
  /* @include transition
   {
       font-size: 1.2rem;
       color: red;
   }*/
}
@media screen and (min-width: 600px) {
  h5 {
    font-size: 1.5rem;
  }
}

.how > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}
@media screen and (min-width: 600px) {
  .how > div {
    width: 75%;
  }
}

.how > div div {
  position: relative;
  display: flex;
}
@media screen and (min-width: 600px) {
  .how > div div {
    max-width: 1200px;
  }
}

.fa__edit {
  opacity: 0.5;
  font-size: 1.3rem;
  position: absolute;
  left: 35px;
}
.fa__edit__color {
  color: #9356dc;
  opacity: 1;
}

/***RESTAURANTS***/
.restaurants {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: #f6f6f6;
  margin: auto;
  padding: 60px 0px 40px 0px;
}
@media screen and (min-width: 600px) {
  .restaurants {
    max-width: 1200px;
    align-items: center;
  }
}

.img-link > a {
  color: black;
  text-decoration: none;
}

.restaurants-wrapper {
  background-color: #f6f6f6;
}

.restaurants > p {
  margin-bottom: 40px;
}
@media screen and (min-width: 600px) {
  .restaurants > p {
    font-size: 1.8rem;
  }
}

.restaurants > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .restaurants > div {
    flex-direction: column;
    justify-content: center;
    width: 95%;
  }
}

@media screen and (min-width: 600px) {
  .restaurants > div > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
  height: 250px;
  border-radius: 15px;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
}
.card__new {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  font-weight: bold;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  top: 10px;
  right: 10px;
}
@media screen and (min-width: 600px) {
  .card {
    width: 375px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.card > div {
  display: flex;
  flex-direction: column;
  padding: 15px 10px 15px 10px;
}

.card > div > div {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px;
  position: relative;
}

.card img {
  height: 175px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

figcaption {
  font-weight: bold;
}

.card p {
  opacity: 0.8;
  color: black;
}

.hide-on-hover {
  font-size: 1.3rem;
  position: absolute;
  right: 15px;
}

.show-on-hover {
  font-size: 1.3rem;
  opacity: 0;
  position: absolute;
  right: 15px;
}

.show-on-hover:hover {
  font-size: 1.3rem;
  color: #9356dc;
  opacity: 1;
  position: absolute;
  right: 15px;
  transition: 3s;
}

/***FOOTER***/
footer {
  width: 100%;
  background-color: #353535;
  color: white;
  padding: 45px 0px 40px 25px;
}
@media screen and (min-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

footer h3 {
  margin-bottom: 20px;
  font-family: Shrikhand;
}

footer div {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  footer div {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

footer > div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
footer > div div a {
  margin-left: 10px;
}

footer div ul {
  list-style: none;
  margin-bottom: 10px;
}
@media screen and (min-width: 600px) {
  footer div ul {
    display: flex;
    flex-direction: row;
  }
}

footer ul li {
  list-style: none;
  margin-bottom: 10px;
}
@media screen and (min-width: 600px) {
  footer ul li {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
  }
}

footer ul li a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 600px) {
  footer div :nth-child(2) {
    margin-left: 10px;
  }
}

/*footer li
{
    margin-bottom: 10px;
}*/
/*footer div :nth-child(4)
{
    //list-style: none;
    //margin-bottom: 10px;
    //color: red;
}*/
/*footer .fas
{
    font-size: 0.8rem;
    //color: red;
}*/
/*.fa-hands-helping
{
    position: absolute;
        top: 2px;
     //color: red;
}*/
/*.fa-utensils
{
    position: absolute;
        top: 2px;
     //color: red;
}*/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 100%;
  border-top: 16px dashed #9356DC;
  border-bottom: 16px dashed #FF79DA;
  border-left: 16px dashed #99E2D0;
  border-right: 16px dashed #f6f6f6;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 40%;
  left: 45%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  animation: spin 1s linear;
  animation: spin 1s linear;
}

.loader-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  animation: beginning 1s linear;
  visibility: hidden;
}

/*spin 
{
  0% { 
      transform: rotate(0deg); 
    }
  100% {
      transform: rotate(360deg); 
    }
}*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes beginning {
  0% {
    opacity: 1;
    z-index: 99999999;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card_hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.card_hero img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  .page-block-lapalette {
    max-width: 1000px;
  }
}

.la-palette-section {
  padding-bottom: 60px;
  background-color: #f6f6f6;
  width: 100%;
  position: relative;
}
.la-palette-section__title {
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 600px) {
  .la-palette-section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.la-palette-section__title__green-line {
  height: 2.5px;
  width: 40px;
  background-color: #99E2D0;
  margin-top: 5px;
  margin-bottom: 15px;
}
.la-palette-section__btn {
  max-width: 185px;
  margin-top: 45px;
}

.la-palette-top-part {
  width: 100%;
  height: 30px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  position: absolute;
  top: -30px;
}

.heart-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

h2 {
  font-family: Shrikhand;
  margin-bottom: 40px;
}
@media screen and (min-width: 600px) {
  h2 {
    display: flex;
    justify-content: center;
    width: 90%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  animation: menu-start 1s;
  transform-origin: top;
}
@media screen and (min-width: 600px) {
  .menu {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@keyframes menu-start {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  90% {
    transform: scaleY(0.95);
    opacity: 0.95;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
.menu-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 75px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 4px 5px 5px #ebebeb;
  margin: auto;
  margin-bottom: 15px;
  overflow: inherit;
}
@media screen and (min-width: 600px) {
  .menu-card-wrapper {
    width: 30%;
  }
}

.menu-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  background-color: white;
  padding: 10px 0px 10px 10px;
}
.menu-card:hover + .anim-menu {
  transform: scaleX(1);
  width: 100px;
}
.menu-card:hover + .anim-menu > .fa-check {
  transform: rotate(360deg);
}

.menu-price {
  display: flex;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 30px;
}
@media screen and (min-width: 600px) {
  .menu-price {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 10px;
  }
}

.anim-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 600ms ease-in-out;
}

.fa-check {
  color: #99E2D0;
  color: #99E2D0;
  padding: 5px;
  border-radius: 25px;
  background-color: white;
  transition: transform 600ms ease-in-out;
}

.heart-pos {
  position: absolute;
  top: 10px;
}

.menu-card > div :nth-child(1) {
  font-size: 1rem;
  font-weight: bold;
}

.menu-card > div :nth-child(2) {
  font-size: 0.9rem;
  opacity: 0.75;
  margin-top: 10px;
}

/***LA PALETTE HEADER***/
.fa-arrow-left {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  position: absolute;
  left: 20px;
}

.footer-flot {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card_hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.card_hero img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  .page-block-lapalette {
    max-width: 1000px;
  }
}

.la-palette-section {
  padding-bottom: 60px;
  background-color: #f6f6f6;
  width: 100%;
  position: relative;
}
.la-palette-section__title {
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 600px) {
  .la-palette-section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.la-palette-section__title__green-line {
  height: 2.5px;
  width: 40px;
  background-color: #99E2D0;
  margin-top: 5px;
  margin-bottom: 15px;
}
.la-palette-section__btn {
  max-width: 185px;
  margin-top: 45px;
}

.la-palette-top-part {
  width: 100%;
  height: 30px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  position: absolute;
  top: -30px;
}

.heart-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

h2 {
  font-family: Shrikhand;
  margin-bottom: 40px;
}
@media screen and (min-width: 600px) {
  h2 {
    display: flex;
    justify-content: center;
    width: 90%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  animation: menu-start 1s;
  transform-origin: top;
}
@media screen and (min-width: 600px) {
  .menu {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@keyframes menu-start {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  90% {
    transform: scaleY(0.95);
    opacity: 0.95;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
.menu-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 75px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 4px 5px 5px #ebebeb;
  margin: auto;
  margin-bottom: 15px;
  overflow: inherit;
}
@media screen and (min-width: 600px) {
  .menu-card-wrapper {
    width: 30%;
  }
}

.menu-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  background-color: white;
  padding: 10px 0px 10px 10px;
}
.menu-card:hover + .anim-menu {
  transform: scaleX(1);
  width: 100px;
}
.menu-card:hover + .anim-menu > .fa-check {
  transform: rotate(360deg);
}

.menu-price {
  display: flex;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 30px;
}
@media screen and (min-width: 600px) {
  .menu-price {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 10px;
  }
}

.anim-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 600ms ease-in-out;
}

.fa-check {
  color: #99E2D0;
  color: #99E2D0;
  padding: 5px;
  border-radius: 25px;
  background-color: white;
  transition: transform 600ms ease-in-out;
}

.heart-pos {
  position: absolute;
  top: 10px;
}

.menu-card > div :nth-child(1) {
  font-size: 1rem;
  font-weight: bold;
}

.menu-card > div :nth-child(2) {
  font-size: 0.9rem;
  opacity: 0.75;
  margin-top: 10px;
}

/***LA PALETTE HEADER***/
.fa-arrow-left {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  position: absolute;
  left: 20px;
}

.footer-flot {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
