/***FOOTER***/
footer
{
    background-color: $footer-bg-color;
    color: $footercolor;
    padding: 45px 0px 40px 25px;
}
footer div
{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}
footer div > p
{
    margin-left: 20px;
}
footer h3
{
    margin-bottom: 20px;
    font-family: Shrikhand;
}
footer :nth-child(2)
{
    margin-bottom: 5px;
    position: relative;
}
footer :nth-child(3)
{
    margin-bottom: 5px;
    position: relative;
}
footer :nth-child(4)
{
    margin-bottom: 10px;
}
footer .fas
{
    font-size: 0.8rem;
}
.fa-hands-helping
{
    position: absolute;
        top: 2px;
}
.fa-utensils
{
    position: absolute;
        top: 2px;
}