/***HEADER***/
.header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 375px;
    height: 60px;
    margin: auto;
    &__logo
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 165px;
        object-fit:cover;  
    }
}