*
{
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    font-family: Roboto;
}
/***HEADER***/
.header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    //max-width: 375px;
    width: 100%;
    height: 60px;
    margin: auto;
    position: relative;
    &__logo
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 165px;
        object-fit:cover;  
    }
}



