/***POSITION ZONE***/
.position-zone
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    background-image: linear-gradient(#cfcfcf, #eaeaea);
}
.position-zone p
{
    margin-left: 10px;
    font-weight: bold;
    opacity: 0.8;
}
.fa-map-marker-alt
{
    opacity: 0.8;
}