
.how
{
    display: flex;
    flex-wrap: wrap;
    margin: 55px 0px 0px 0px;
    &__steps
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #f5edff;
        width: 325px;
        height: 75px;
        border-radius: 20px;
        box-shadow: 1px 4px 5px 5px #ebebeb;
        margin: 0px 0px 25px 0px;
    }
}
h2
{
    margin: 0px 0px 35px 0px;
}
.how :nth-child(2)
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}
