/***RESTAURANTS***/
@mixin desktop 
{
  @media screen and (min-width: $desktop-min-width)
  {
      @content;
  }
}
.restaurants
{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #f6f6f6;
    //padding: 60px 20px 40px 20px;
    margin: auto;
    padding: 60px 0px 40px 0px;

    @include desktop
    {
        max-width: $desktop-max-width;
        align-items: center;
        //background-color: red;
    }
}
.img-link > a
{
    color: black;
    text-decoration: none;
}
.restaurants-wrapper
{   
    background-color: #f6f6f6;
}
.restaurants > p
{
    margin-bottom: 40px;
    @include desktop
    {
        font-size: 1.8rem;
    }
}
.restaurants > div
{   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @include desktop
    {
        flex-direction: column;
        justify-content: center;
        width: 95%;
        //background-color: blue;
        
        //padding: 0px 250px 0px 25px;
    }
}
.restaurants > div > div
{   

    @include desktop
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        //align-items: center;
        //background-color: green;
        //width: 100%;
    }
}
.card
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    height: 250px;
    border-radius: 15px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
    &__new
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.85rem;
        font-weight: bold;
        width: 80px;
        height: 30px;
        background-color: $color-tertiary;
        color: #008766;
        position: absolute;
            top: 10px;
            right: 10px;
    }
    @include desktop
    {
        //max-width: 50%;
        //align-items: center;
        width:375px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
.card > div 
{
    display: flex;
    flex-direction: column;
    padding: 15px 10px 15px 10px;
}
.card > div > div
{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
    position: relative;
}
.card img
{
    //max-width: 375px;
    
    height: 175px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
figcaption
{
    font-weight: bold;
}
.card p
{
    opacity: 0.8;
    color: black;
}
.hide-on-hover
{
    font-size: 1.3rem;
    position: absolute;
        right: 15px;
}
.show-on-hover
{
    font-size: 1.3rem;
    opacity: 0;
    position: absolute;
        right: 15px;
}
.show-on-hover:hover
{
    font-size: 1.3rem;
    color: #9356dc;
    //background-image: 
    opacity: 1;
    position: absolute;
        right: 15px;
    transition: 3s;
}







