/***MEDIA QUERIES***/
@mixin tablet 
{
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) 
  {
    @content;
  }
}
/***HTML***/
<section>
                <div>
                
                </div>
                
                <div class="process-part">
                    <p>Fonctionnement</p>
                    <div>
                        <p class="order-steps__numbers">1</p>
                        <a class="order-steps" >Choisissez un restaurant</a>
                    </div>
                    <div>
                        <p class="order-steps__numbers">2</p>
                        <a class="order-steps" >Composez votre menu</a>
                    </div>
                    <div>
                        <p class="order-steps__numbers">3</p>
                        <a class="order-steps order-steps--editor" >Dégustez au restaurant</a>
                    </div>
                </div>
            </section>


/***PROCESS***/
.process-part
{
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    margin:0px 0px 0px 0px;
    border: 1px solid red;
    box-sizing:content-box;
}
.process-part div
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.order-steps
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
    @include steps-features;
        &__editor
        {
            background-color: #f5edff;
            background-color: red;
        }
        &__numbers
        {
            height: 25px;
            width: 25px;
            background: #9356dc;
            border-radius: 25px;
            color: white;
            font-size: 0.75rem;
            position: absolute;
                top: 25px;
                left: -10px;
        }
 }
h2
{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    margin: 40px 0px 20px 20px;
}




/***PROCESS***/
$step-color-process: #f6f6f6;
$step-width-process: 325px;
$step-height-process: 75px;
$step-curv-process:20px;
/*$step-color-text-process: #f6f6f6;*/
$step-font-size-process: 0.8rem ;
$step-font-weight-process: bold ;



@mixin steps-features
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*padding-left: 10px;
    padding-right: 10px;*/

    background-color: $step-color-process;
    width: $step-width-process;
    height: $step-height-process;
    border-radius: $step-curv-process;
    /*color: $step-color-text-process;*/
    font-size: $step-font-size-process;
    font-weight: $step-font-weight-process;
    box-shadow: 1px 4px 5px 5px #ebebeb;
}






