@mixin btn-features
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    background-image: linear-gradient($btn-color-menu, #a05adc);
    background-color: $btn-color-menu;
    background-color: $btn-color-menu;
    //background-color: darken($btn-color-menu, 5);
    width: $btn-width-menu;
    height: $btn-height-menu;
    border-radius: $btn-curv-menu;
    color: $btn-color-text-menu;
    font-size: $btn-font-size-menu;
    font-weight: $btn-font-weight-menu;
    opacity: 1;
    margin: auto;
    //opacity: ;
    
}