*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-block
{
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 300px;
    width: 100%;
}

body
{
    max-width: $desktop-max-width;
    margin: auto;
}
/***FORM***/
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}
.container 
{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}