*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-block
{
    display: flex;
    flex-direction: column;
    max-width: $desktop-max-width;
    margin: auto;
    min-width: 300px;
    width: 100%;
}

body
{
    margin: auto;
}
/***CONTACT***/
.container
{
    display: flex;
    justify-content: center;
    height: 1000px;
    background-color: #f6f6f6;
}
