*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*@mixin desktop 
{
  @media screen and (min-width: $desktop-min-width)
  {
      @content;
  }
}*/
.page-block
{
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 300px;
    width: 100%px;
    /*@include desktop
    {
        max-width: $desktop-max-width;
        //padding: 0px 250px 0px 25px;
    }*/
}
.contact
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
body
{
    max-width: $desktop-max-width;
    min-width: 320px;
    margin: auto;
}


