*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin desktop 
{
  @media screen and (min-width: $desktop-min-width)
  {
      @content;
  }
}
.page-block-lapalette
{
        @include desktop
        {
           max-width: 1000px;
        }
}
.la-palette-section
{
    padding-bottom: 60px;
    background-color: #f6f6f6; 
    width: 100%;
    position: relative;
    &__title
    {
        width: 90%;
        margin: auto;
        @include desktop
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__green-line
        {
            height: 2.5px;
            width: 40px;
            background-color: $color-tertiary;
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }
    &__btn
    {
        max-width: 185px;
        margin-top: 45px;
    }
}
.la-palette-top-part
{
    width: 100%;
    height: 30px;
    background-color: #f6f6f6; 
    border-radius: 40px 40px 0px 0px;
    position: absolute;
        top: -30px;
}
.heart-wrapper
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
h2
{
    font-family: Shrikhand;
    margin-bottom: 40px;
        @include desktop
        {
            display: flex;
            justify-content: center;
            width: 90%;
        }
}
.menu
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    animation: menu-start 1s;
    transform-origin: top;
    @include desktop
    {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}
@keyframes menu-start
{
    0%{
        transform: scaleY(0);
        opacity: 0;
    }
    90%{
        transform: scaleY(0.95);
        opacity: 0.95;
    }
    100%{
        transform: scaleY(1);
        opacity: 1;
    }
}
.menu-card-wrapper
{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    width: 90%;
    height: 75px; 
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 4px 5px 5px #ebebeb;
    margin: auto;
    margin-bottom: 15px;
    overflow:inherit;
    @include desktop
    {
        width: 30%;
    }
}
.menu-card
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    background-color: white;
    padding:  10px 0px 10px 10px;
        &:hover + .anim-menu
        {
            transform: scaleX(1);
            width: 100px;
            & > .fa-check
            {
                transform: rotate(360deg);
            }
        }
}
/*.menu-titles
{
    text-overflow: ellipsis;
    color: red;
}*/
.menu-price
{
    display: flex;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 30px;
    @include desktop
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f6f6f6;
        border-radius: 10px;
        padding: 10px;
    }
}
.anim-menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary;
    border-radius: 0px 15px 15px 0px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 600ms ease-in-out;
}
.fa-check
{
    color: $color-tertiary;
    color: $color-tertiary; 
    padding: 5px;
    border-radius: 25px;
    background-color: white;
    transition: transform 600ms ease-in-out;
}
.heart-pos
{
    position: absolute;
        top: 10px;
}
.menu-card > div 
{
    //white-space: nowrap;
    //background-color: yellow;
    //overflow: hidden;
    //text-overflow: "----";
    //text-overflow: ellipsis;
    width: 80%;
    
    
    
    //flex: 1;
}
.menu-card > div :nth-child(1)
{
    font-size: 1rem;
    font-weight: bold;
    //color: red;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.menu-card > div :nth-child(2)
{

    font-size: 0.9rem;
    opacity: 0.75;
    margin-top: 10px;
    //color: green;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/***LA PALETTE HEADER***/
.fa-arrow-left
{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    position: absolute;
        left: 20px;
}

